html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

body {
  background-color: #004899;
  color: #2c2d2e;
	font-family:Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
	background-image: url(../images/body_bg.png);
	background-repeat: repeat-x;
}
img {
	border: 0;
}

h1 {
  color: #004799;
  font-size: 25px;
  font-weight: normal;
}

h2 {
	color:#848484;
  font-size: 15px;
  font-weight:normal;
}

a {
	color:#00438F;
}

#outerWrapper {
	margin: 0 auto 0 auto;
	text-align: left;
	width: 1010px;
}
#outerWrapper #header {
	height: 113px;
}
#outerWrapper #header .left {
	float: left;
	padding: 15px 0 0 18px;
}
#outerWrapper #header .right {
	float: right;
	font-size: 13px;
	padding: 83px 10px 0 0;
	color:#FFF;
}
#outerWrapper #header .right a, #outerWrapper #header .right a:link {
	color: #fff;
	margin-right:10px;
	margin-left:10px;
}
#outerWrapper #topNavigation {
	height: 46px;
	color: #004797;
	padding:4px 0 0 10px;
	background-image:url(../images/top-nav.png);
	background-repeat:no-repeat;
}
#outerWrapper #topNavigation #searchBox {
	float: right;
	margin-top: 7px;
	padding-right:10px;
}
#outerWrapper #topNavigation #searchBox input[type=text] {
	float:left;
	padding:5px !important;
	margin-right:10px;
}
#outerWrapper #topNavigation #searchBox input[type=submit] {
	display:inline;
}
#outerWrapper #contentWrapper {
	overflow:hidden;
	padding:30px 10px 20px 10px;
	background-image:url(../images/outerWrapper_bg.png);
	background-repeat:repeat-y;
	background-position:0 0;
	min-height:500px;
}
#outerWrapper #contentWrapper #leftColumn1 {
  float: left;
	width:220px;
	margin:0 20px 0 0;
}
#outerWrapper #contentWrapper #rightColumn1 {
  float: right;
}

#outerWrapper #contentWrapper #content {
	background-color: #fff;
	margin: 0 0 0 240px;
	padding:0 10px 0 0;
}
#footer {
	padding:30px 10px 10px 0;
	color:#FFF;
	text-align:right;
	background-image:url(../images/footer.png);
	background-position:0 0;
	background-repeat:no-repeat;
}
#footer a {
	color:#FFF;
}

.btn {
	background-color:#3D3D3D;
	color:#FFF;
	border:none;
	font-size:14px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:124px;
	display:block;
	padding:5px 0 5px 0;
	text-align:center;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
}
.btn:hover {
	background-color:#5a9e1e;
	cursor:pointer;
}
/**********/

.formWrapper {
	margin: 10px 0 30px 0;
}
.formWrapper .top {
	height:100px;
}
.short {
	height:60px !important;
}
.formWrapper .disabled {
	font-size:14px;
	font-weight:bold;
}
.formWrapper .top .left {
	float: left;
	width: 302px;
	height:100px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	background-color: #EAEAEA;
	padding: 0 20px 0px 20px;
	background-image:url(../images/dotted-line.png);
	background-position:bottom;
	background-repeat:no-repeat;
}
.formWrapper .top .left .text {
  color:#004798; 
  margin-top:10px; 
  font-size:14px;
}

.formWrapper .top .left .text label {
	text-align:right;
	width:120px;
	display:inline-block;
}
.formWrapper .top .left span {
  color:#848484; 
  margin-left:10px;
}
.formWrapper .top .right {
	padding: 7px 20px 0px 20px;
	margin:0 0 0 342px;
}
.formWrapper .top .right img {
	vertical-align:bottom;
}
.formWrapper .top .right span {
  color:#848484;
}
.formWrapper .bottom {
	background-color: #EAEAEA;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	background-position: bottom;
	padding: 20px 10px 10px 10px;
	overflow:auto;
}

/**********/

.insertForm {
	border: 0;
	padding: 0;
	margin: 15px 0 0 0;
}
.insertForm label {
	width: 112px;
	float: left;
	text-align: right;
	margin-right: 5px;
	display: block;
	padding-top: 4px;
	color: #838383;
	font-size: 14px;
}
.insertForm  input[type=text], .insertForm input[type=password], .insertForm textarea, #outerWrapper #topNavigation #searchBox input[type=text] {
	border: 1px solid #999;
	padding: 6px;
	width: 170px;
  font-size: 13px;
}
.insertForm textarea {
	width: 600px;
	height: 150px;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border-color: #000;
}
.expand {
	background-color:#EAEAEA;
	overflow:auto;
}
.expand h2 {
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#545454;
	text-align:left;
	width:266px;
}
.expand .expandMiddle {
	background-color:#C6C6C6;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	text-align:right;
	overflow:hidden;
}
.expand .expandMiddle h2 {
	float:left;
	color:#636363;
	font-size:16px;
	padding:0px;
	margin:0px;
	padding-left:10px;
}
.expand .expandMiddle img {
	vertical-align:bottom;
	border:0;
}
.expand .expandMiddle a {
	text-decoration:underline;
	margin-right:20px;
}
.expand .expandMiddle .last {
	margin-right:0px;
}
.expand .expandBottom {
	padding:20px;
	padding-left:10px;
	height:100px;
	margin:0 0 20px 0;
	overflow:hidden;
}
.expand .expand-down {
height:auto;
min-height:100px;
overflow:auto;
}
.expand .expand-image {
text-align:center;
}
.middleSep {
	background-image:url(../images/dotted_line.jpg); 
	background-position:0 0; 
	background-repeat:no-repeat; 
	height:3px; 
	margin-top:40px; 
	margin-bottom:40px;
}
.login {
	background-color:#FFF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:400px;
	background-repeat:no-repeat;
	padding:10px 0 20px 20px;
	margin:0 auto;
}
.login img {
	margin-left:115px;
}
.login input[type=text], .login input[type=password] {
  margin-left:15px;
}
.login input[type=submit] {
	margin:20px 0 0 120px;
}
.login label {
	color:#B0B0B0;
	font-size:14px;
	font-weight:bold;
}
.deleteContent {
	background-image:url(../images/detail_bg.png); 
	background-repeat:no-repeat; 
	margin-top:30px; 
	padding-left:25px; 
	background-color:#FFF; 
	padding-bottom:50px;
	overflow:hidden;
}
.deleteContent .left {
	float:left;
	width: 302px; 
	color:#848484;
}
.deleteContent .left .text {
  margin-top:15px;
  font-size:14px;
	padding-right:9px;
}
.deleteContent .left .text2 {
  margin-top:15px;
  font-size:14px;
	padding-left:9px;
}
.deleteContent .right {
	margin-left: 342px;	
	padding: 20px 20px 0 20px;
}
.deleteContent span {
	color:#004798;
}
.deleteContent .bottom {
	padding-top:20px;
	margin-top:20px;
	overflow:auto;
}
.deleteContent .bottom span {
	margin-bottom:20px;
	color:#848484;
}
.pagination {
	float:right;
	background-color:#eaeaea;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	text-align:left;
	padding:2px 2px 2px 10px;
	width:180px;
	font-size:13px;
}
.pagination a {
	color:#002D60;
	margin-right:2px;
	font-weight:bold;
	text-decoration:none;
}
.shiftright {
	margin-right:10px;
}
.shiftleft {
	margin-left:15px;
}
.error {
	color:#F00;
	margin-top:5px;
}

/********** Help *******/

.help {
color:#858585;
font-size:13px;
}
.intro {
	height:135px;
}
.helppod1 {
	background-color:#EFEFEF; 
	padding:10px 10px 10px 10px;
}
.helppod1 img {
	float:right; 
	margin-left:70px;
}
.helpspacer {
	width:100%;
	height:40px;
}
.helppod2 {
}
.helppod2 img {
	margin-right:70px; 
	float:left;
}
.helppod2 .right {
	margin-left:384px;
}
.helppod2 .right h1 {
	padding-right:10px;
}
.helppod2 .right p {
	margin-top:10px;
}
.helppod3 {
	background-color:#EFEFEF; 
	padding:10px 10px 10px 10px;
}
.helppod3 img {
	margin-left:70px; 
	float:right;
}
.helppod3 p {
	margin-top:10px;
}
.helppod4 img {
	margin-right:70px; 
	float:left;
}
.helppod4 .moveleft {
	margin-left:384px;
}
.shifttop {
	margin-top:25px;
}

.shiftup {
	margin:-28px 0 15px 0;
}

.pages {
	background-color:#EDEDED;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.pages .header {
	background-color:#003E84;
	border-bottom:1px solid #FFF;
	padding:10px 5px 10px 63px;
	color:#FFF;
	font-size:15px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}
.pages .header img {
	cursor:pointer;
}
.pages .pages-wrapper {
	padding:0 0 20px 0;
	border-left:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
	border-bottom:1px solid #DFDFDF;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}
#sitepages-logo {
	position:absolute;
	margin-left:7px;
	margin-top:-7px;
}
.pages .row {
	color:#00438F;
	font-size:13px;
	font-weight:bold;
	padding:8px 5px 8px 30px;
	background-image:url(../images/page.png);
	background-repeat:no-repeat;
	background-position:5px 50%;
	overflow:hidden;
}
.pages .templatepages {
	background-image:url(../images/pages.png);
}
.pages .arrow {
	color:#00438F;
	font-size:13px;
	font-weight:bold;
	padding:8px 30px 8px 30px;
	background-image:url(../images/hover-arrow.png);
	background-repeat:no-repeat;
	background-position:-1px 3px !important;
	width:183px;
	border:none;
}
.pages .arrow:hover {
	background-color:transparent !important;
}
.pages .arrow-pages {
	color:#00438F;
	font-size:13px;
	font-weight:bold;
	padding:8px 30px 8px 30px;
	background-image:url(../images/arrow-pages.png);
	background-repeat:no-repeat;
	background-position:-1px 3px !important;
	width:183px;
	border:none;
}
.pages .arrow-pages:hover {
	background-color:transparent !important;
}
.pages .row img, .pages .arrow img {
	float:right;
	display:none;
	z-index:1000;
}
.pages .row:hover {
	cursor:pointer;
	background-color:#FFF;
}
.contentpage {
	color:#00438F;
}
.contentpage-clicked {
	color:#5A9E1E;
}
.numofcontents {
	color:#B0B0B0;
}
.numofcontents-clicked {
	color:#000;
}

/*** results pages ******/
#results {
	margin:40px 0 20px 0;
	display:block;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #DCDCDC;
	padding-bottom:10px;
}
#results #title {
	background-color:#003E83;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	font-size:13px;
	padding:10px;
	color:#FFF;
}
#results #title span {
	width:100px;
	margin:0 105px 0 0;
	display:inline-block;
}
#results #activityTitle {
	font-size:13px;
	background-color:#003E83;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	padding:10px;
	color:#FFF;
}
#results #activityTitle span {
	margin-right:88px;
	padding-right:20px;
}
#results #activityTitle #Action {
	margin-right:20px;
}
#results #activityTitle #Action:hover {
	background-image:none;
}
#results #activityTitle #HistoryDate {
	margin-right:62px;
	margin-left:12px;
}
.default-cursor {
	cursor:text;
}
#results table {
	background-color:#FFF;
}
#results table td {
	text-align:left;
	color:#00438F;
	font-size:11px;
	font-weight:bold;
	padding:7px 0 7px 10px;
}
#results img {
	visibility:hidden;
}
.sort {
	background-image:url(../images/down-arrow.png);
	background-repeat:no-repeat;
	background-position:right;
}
.sort-asc {
	background-image:url(../images/up-arrow.png);
	background-repeat:no-repeat;
	background-position:right;
}
.WADAResultsRowDark {
	background-color: #EAEAEA;
}

.sentence {
	margin:10px 0 0 0;
	color:#858585;
	line-height:20px;
	font-size:13px;
}

/*** index page ** */
.header1 {
	min-height:110px;
}
.header2 {
	height:110px;
}
.header3 {
	height:210px;
	text-align:center;
}
.header4 {
	height:225px;
}

.pushright {
	margin-left:85px;
}
/***   *****/

.content-detail {
	margin:0 0 5px 0;
}
.content-detail .sentence {
	font-size:26px;
	margin:0 0 10px 0;
}
.content-detail a {
	margin:0 10px 0 10px;
	display:inline-block;
}
.content-detail #title {
	color:#5A9E1E;
	font-weight:bold;
}
.content-detail #num {
	color:#ABABAB;
	font-weight:bold;
}
.content-detail span {
	color:#5A9E1E; 
	font-weight:bold;
}
#optimization {
	background-color:#EAEAEA;
	padding:30px 30px 30px 0;
	width:522px;
	margin:20px 0 0 0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#optimization label {
	display:inline-block;
	text-align:right;
	width:90px;
	margin:0 20px 20px 0px;
	color:#7C7C7C;
	font-size:14px;
	vertical-align:top;
}
#optimization input[type=text], textarea {
	width:366px;
	border:1px solid #BDBDBD;
	padding:7px 3px 7px 3px;
	margin:0 0 15px 0;
}
#optimization input[type=submit] {
	margin:0 auto;
}

#user {
	background-color:#EAEAEA;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	width:338px;
	padding:20px 15px 20px 15px;
}
#user label {
	display:inline-block;
	color:#00438F;
	font-weight:bold;
	text-align:right;
	padding:0 10px 0 0;
	margin:10px 10px 20px 10px;
	width:120px;
}
#user input[type=text], input[type=password] {
	padding:5px 10px 5px 10px;
	margin:0;
	border:1px solid #C9C9C9;
}
#user input[type=submit] {
	display:inline;
}

#settings {
	overflow:hidden;
	display:block;
}
#settings #left {
	float:left;
	background-color:#EAEAEA;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	width:400px;
	padding:20px 5px 20px 5px;
}
#settings #right {
	background-color:#EAEAEA;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	width:450px;
	padding:20px 5px 20px 5px;
	margin:0 0 0 420px;
}
#settings label {
	display:inline-block;
	color:#00438F;
	font-weight:bold;
	text-align:right;
	margin:10px 5px 20px 0;
	width:185px;
}
#settings input[type=text], input[type=password] {
	padding:5px 10px 5px 10px;
	margin:0;
	border:1px solid #C9C9C9;
}
#settings input[type=submit] {
	margin:40px auto;
}
#settings #right input[type=text] {
	margin-right:5px;
}
#settings #heading-left {
	float:left;
	width:420px;
	margin-bottom:5px;
}
#settings #heading-right {
	margin:0 0 0 45px;
	margin-bottom:5px;
}

#advancedSearch {
	background-color:#EAEAEA;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	width:338px;
	padding:20px 15px 20px 15px;
}
#advancedSearch label {
	display:inline-block;
	color:#00438F;
	font-weight:bold;
	text-align:right;
	padding:0 10px 0 0;
	margin:10px 10px 20px 10px;
	width:97px;
}
#advancedSearch input[type=text], #advancedSearch input[type=select] {
	padding:5px 10px 5px 10px;
	margin:0;
	border:1px solid #C9C9C9;
}
#advancedSearch input[type=submit] {
	display:inline;
}

/* overlay
--------------------------------------------------*/

#overlay-bg {
	background-color: #000;
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.8;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	position: fixed;
	z-index: 100;
}
.overlay-popup {
	display: none;
	background-repeat: no-repeat;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	top: 20%;
	left: 50%;
	position: fixed;
	z-index: 10001;
	width: 544px;
	height: 222px;
	margin: 0 0 0 -272px;
	padding:5px 5px 10px 20px;
}
.overlay-popup p {
	padding:0 50px 5px 50px;
}

.overlay-popup img {
	cursor:pointer;
}
.overlay-popup a {
	display:inline-block;
}
.overlay-popup h2 {
	color:#003C81;
	padding:0 50px 0 50px;
	margin:0;
}
#overlay-view p, #overlay-subpage p {
	margin:0;
}

#overlay-delete, #overlay-delete-page, #overlay-delete-history {
	width: 544px;
	height: auto;
	background-color:#FFF;
	-moz-border-radius:10px;
	margin: 0 0 0 -272px;
}

#overlay-delete #text #delete-no, #overlay-delete-page #text #delete-no, 
#delete-page-no, #add-page-no, #add-content-page-no #delete-history-no,
#delete-history-no {
	margin-left:140px;
}

#overlay-view, #overlay-subpage{
	width: 850px;
	height: auto;
	background-color:#FFF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin: 0 0 0 -425px;
	padding-bottom:10px;
}
.includes {
	background-color:#EAEAEA;
	margin:0 50px 0 50px;
	font-size:13px;
	overflow:auto;
	color:#003B7F;
	border:1px solid #C7C7C7;
	padding:10px;
	-moz-box-shadow: 0px 0px 4px #ffffff; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #ffffff; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 4px #ffffff; /* Opera 10.5, IE 9.0 */
	filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#ffffff'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#ffffff')"; /* IE8 */
	
	background-image: -moz-linear-gradient(left, #EAEAEA, #C7C7C7); /* FF3.6 */
  background-image: -webkit-gradient(linear,left,right,color-stop(0, #EAEAEA),color-stop(1, #C7C7C7)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAEAEA', endColorstr='#C7C7C7'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAEAEA', endColorstr='#C7C7C7')"; /* IE8 */
}
#overlay-view a, #overlay-subpage a {
	display:block;
	margin:0 auto;
}

#overlay-add-page, #overlay-add-content-page {
	width: 529px;
	height: auto;
	background-color:#FFF;
	-moz-border-radius:10px;
	margin: 0 0 0 -272px;
}

#overlay-add-content-page input[type=submit], #overlay-add-page input[type=submit] {
	display:inline;
}

#overlay-add-page form, #overlay-add-content-page form {
	padding:0 50px 20px 50px;
}
#overlay-add-page form input[type=text], #overlay-add-content-page form input[type=text] {
	width:315px;
	padding:5px;
	background-color:#E9E9E9;
	border:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#overlay-add-content-page input[type=checkbox] {
	margin-left:51px;
	margin-top:10px;
}
#overlay-add-content-page .error {
	margin-left:51px;
	height:20px;
}
#overlay-add-page .error {
	margin-left:90px;
	height:20px;
}
#add-page-no,  #add-content-page-no {
	display:inline-block;
	margin:30px 0 0 0;
}
#add-page-no, #add-content-page-no {
	margin-left:75px;
}
#overlay-add-page form label, #overlay-add-content-page form label {
	color:#808080;
	margin-right:10px;
	font-weight:bold;
}

ul#cssmw img {
	margin-right:10px;
}

.validation {
	height:14px;
	margin-left:12px;
	color:#F00;
}

/* browse for a folder
--------------------------------------------------*/

#browse-link {
	outline: none;
}

#browse {
	padding: 17px 0 0 0;
	margin-bottom: 17px;
}
#browse #current_folder {
	color: #000;
	font-weight: bold;
	background-color: #fff;
	
}
#browse #folder_list {
	border: solid 1px #d0d0d0;
	background-color: #fff;
	padding: 10px 10px 3px 10px;
	width: 327px;
	margin-left: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#browse #folder_list.error {
	background-color: #ffe6e4;
	font-size: 1.2em;
	padding-bottom: 10px;
	cursor: pointer;
	color: #b80000;
	font-style: italic;
}
#browse #folder_list.loading {
	text-align: center;
	padding: 20px 10px;
}
#browse #folder_list p {
	background-image: url(../images/icon_image.png);
	background-repeat: no-repeat;
	background-position: 4px 0;
	font-size: 1.2em;
	padding: 3px 0 2px 29px;
	margin-bottom: 7px;
	cursor: pointer;
}
#browse #folder_list p.folder {
	background-image: url(../images/icon_folder.png);
	background-position: 0 0;
}
#browse #folder_list p.openfolder {
	background-image: url(../images/icon_openfolder.png);
	background-position: 0 0;
}
#browse #folder_list p.up {
	background-image: url(../images/icon_arrowup.png);
	background-position: 1px 0;
}
#browse #folder_list p span {
	color: #6b4383;
}
#browse #folder_list p span.zero {
	color: #ccc;
}

/* tabs (add images)
--------------------------------------------------*/


/* processing
--------------------------------------------------*/

.processing {
	color: #713b8f;
	font-size: 13px;
	display: none;
	text-align: center;
}
.processing img {
	vertical-align: middle;
	margin-right: 5px;
}

.disabled {
	color:#838383;
	padding:4px 0 0 0;
}