// Font Family
$font-1: 'Poppins', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray: #f7f7fd;


// Theme Color
$theme-color: #FFB316;


//Body Color
$body-color: #677284;


// Border Color
$border-color: #707070;


// Heading Color
$heading-color: #1A3154;


// Soft color
$shadow: #D5D5D5;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


